.calculator-app {
    min-height: 100vh;
    background-color: var(--white);
    display: flex;
}

.calculator-main {
    background-color: var(--light-blue);
    border: 1px solid var(--grey);
    width: 100%;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    position: relative;
    overflow: hidden;
}
/* HEADER */
.calculator__header {
    padding: 10px 15px 0px;
    height: var(--header-height);
}

.row {
    justify-content: space-between;
}
.calculator__logo, .row {
    display: flex;
    align-items: flex-end;
}

.calculator__logo img {
    height: 25px;
}

.calculator__logo span {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 10px;
    color: var(--text-color);
}

span.calculator__history-btn {
    font-size: 2.8rem;
    cursor: pointer;
    color: var(--text-color);
    padding: 5px;
}

.calculator__display-part {
    min-height: 120px;
    background-color: transparent;
    padding: 15px 0px;
}

.calculator__display-part span  {
    display: block;
}

.display__expression {
    font-size: 2rem;
    text-align: right;
    color: #808080;
    min-height: 30px;
}

.calculator__display-part div {
    min-height: 45px;
}

.display__result {
    font-size: 3rem;
    color: #808080;
}

.display__operand {
    font-size: 3.4rem;
}

.display__operand.show {
    font-weight: 600;
}

/* BUTTONS */
.calculator__buttons {
    padding: 0 10px 10px;
    height: var(--buttons-height);
}

.calculator__buttons table {
    width: 100%;
    border-spacing: 5px;
    height: 100%;
}

.calculator__buttons td {
    text-align: center;
    font-size: 2.4rem;
    color: var(--text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 0px;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 0.856);
    width: 25%;
}

span.calculator__btn-icon {
    font-size: 2.4rem;
}

td:hover {
    background-color: rgba(0, 0, 0, 0.01);
}


/* HISTORY */
.calculator__history-overlay {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.15);
    transition: all linear 200ms;
    overflow: hidden;
    visibility: hidden;
}

.calculator__history-overlay.show-history {
    opacity: 1;
    visibility: visible;
}

.history__wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--white);
    padding: 15px 10px;
}

.row.align-center {
    align-items: center; 
}

.history__btn {
    font-size: 2.6rem;
    cursor: pointer;
    padding: 3px 3px;
}

.history__btn--delete {
    color: rgb(228, 91, 91);
}

.history__btn:hover {
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 4px;
}

.history__title {
    font-size: 2rem;
    margin-left: 5px;
}

.history__list {
    list-style: none;
    margin-top: 5px;
    height: 40vh;
    overflow: auto;
    
}

.history__text {
    font-size: 1.8rem;
}

.history__item {
    padding: 10px 15px;
}

.history__item:hover, span.calculator__history-btn:hover {
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 5px;
}

.history__item-expression {
    font-size: 1.6rem;
}
.history__item-timer {
    font-size: 1.4rem;
    color: #ccc;
}

span.history__delete-btn {
    color: rgb(247, 107, 107);
    cursor: pointer;
    display: none;
}
span.history__delete-btn.show {
    display: block;
}


@media (min-width: 510px) {
    .calculator-main {
        margin: auto;
        min-height: 100px;
        max-width: 400px;
        border-radius: 10px;
    }

    .calculator__buttons {
        /* padding: 0 5px 5px; */
    }
}

@media (max-width: 510px) {
    .calculator__header {
        padding-left: 25px;
        padding-right: 25px;
    }

    .display__expression {
        font-size: 4.5rem;
    }

    .display__operand {
        font-size: 5.5rem;
    }

    .display__result {
        font-size: 5rem;
    }

    .calculator__buttons table {
        border-spacing: 15px;
    }
    .calculator__buttons td {
        padding: unset;
        border-radius: 20px;
    }
    :root {
        --header-height: 200px;
    }
}